<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyAZY5nbociQkqr1qSSK89CrIpdqbBtr9UQ</string>
    <key>GCM_SENDER_ID</key>
    <string>940595503732</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.lmlvrmedia.leitnerbox</string>
    <key>PROJECT_ID</key>
    <string>notif-local</string>
    <key>STORAGE_BUCKET</key>
    <string>notif-local.firebasestorage.app</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:940595503732:ios:be4befe4a611cc9d4b6721</string>
    <key>DATABASE_URL</key>
    <string>https://notif-local-default-rtdb.firebaseio.com</string>
</dict>
</plist>
